@use 'variables' as *;

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacing-sm;
}