@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-header {
    padding: $spacing-md;
    background-color: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    @include flex-center;
}

main {
    flex: 1;
}

footer {
    background-color: $text-dark;
    color: $white;
    padding: $spacing-lg $spacing-md;
    text-align: center;
}